.react-body::-webkit-scrollbar {
  display: none;
}
.headerImage {
  background: url("./images/header-background-image.jpg") no-repeat fixed;
  background-size: cover;
  background-position: center;
  padding-bottom: 25%;
}

.headerImage .titles {
  position: absolute;
  top: 25%;
  width: 100%;
}

.headerImage .titles h2 {
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans SemiBold";
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 44px;
  font-weight: 700;
  margin: 0;
  opacity: 0.9;
  cursor: pointer;
}

.headerImage h2:hover {
  opacity: 1;
}

.search {
  display: flex;
}

.search .MuiFormControl-marginNormal {
  display: block;
  margin: auto;
  margin-right: 0;
}

.search .MuiButton-containedPrimary {
  display: block;
  margin: 0;
  margin: auto;
  width: 150px;
  margin-left: 0;
  margin-bottom: 0;
  border-radius: 0 5px 5px 0px;
}

.search .MuiInput-formControl {
  width: 400px;
}

.link {
  text-decoration: none;
  width: unset !important;
  height: unset !important;
  padding: 2px !important;
}
